$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
$poppins-font: "Poppins", sans-serif;
$bg-color: #222a40;
$bg-color-2: #273142;
$main-color: #022caf;
$second-color: #b8618f;
$dark-color: #031c4e;
$dark-light-color: #65718e;
