.hero {
  height: 80vh;
  background: $bg-color;
  padding-top: 100px;
  padding-bottom: 100px;

  &-logo {
    width: 250px;
    margin-bottom: 40px;
  }

  &-title {
    color: white;
    font-size: 40px;
    font-weight: 700;
  }

  &-subtitle {
    color: rgba(white, 0.7);
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 40px;
  }
}
