.hero {
  height: auto;
  background: $main-color;
  padding-top: 100px;
  padding-bottom: 150px;

  @include breakpoint(mobile) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &-logo {
    width: 270px;

    @include breakpoint(mobile) {
      width: 150px;
    }
  }

  &-title {
    color: white;
    font-size: 45px;
    font-weight: 700;
    line-height: 1.25;

    @include breakpoint(mobile) {
      font-size: 30px;
    }
  }

  &-subtitle {
    color: rgba(white, 0.7);
    margin-top: 30px;
    font-size: 20px;
    margin-bottom: 40px;

    @include breakpoint(mobile) {
      font-size: 16px;
    }
  }

  .btn {
    @include breakpoint(mobile) {
      display: block;
      margin-bottom: 15px;
    }
  }
}

.ecosystem {
  height: auto;
  padding-top: 100px;
  padding-bottom: 120px;
  background: white;

  .title {
    color: $dark-color;
    font-size: 35px;
    font-weight: bold;
  }

  .subtitle {
    color: $dark-light-color;
    font-size: 20px;
    margin-bottom: 40px;

    @include breakpoint(mobile) {
      font-size: 18px;
    }
  }

  &-icon {
    margin-top: 40px;
    height: 120px;
    margin-bottom: 20px;

    @include breakpoint(mobile) {
      margin-top: 40px;
    }
  }

  &-title {
    color: $dark-color;
    font-weight: bold;
  }

  &-subtitle {
    color: $dark-light-color;
  }
}

.launchpad {
  height: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #214896;
  opacity: 1;
  background-size: 28px 28px;
  background-image: repeating-linear-gradient(
    to right,
    #375aa0,
    #375aa0 1.4px,
    #214896 1.4px,
    #214896
  );

  .title {
    color: white;
    font-size: 35px;
    font-weight: bold;
  }

  .subtitle {
    color: white;
    font-size: 20px;
    margin-bottom: 40px;

    @include breakpoint(mobile) {
      font-size: 18px;
    }
  }

  &-desc {
    color: white;
    font-size: 22px;
    margin-bottom: 40px;

    @include breakpoint(mobile) {
      font-size: 20px;
    }
  }

  &-img {
    width: 200px;

    @include breakpoint(mobile) {
      margin-top: 70px;
    }
  }
}

.tokenomics {
  height: auto;
  padding-top: 100px;
  padding-bottom: 120px;
  background: white;

  .title {
    color: $dark-color;
    font-size: 35px;
    font-weight: bold;
  }

  .total-supply {
    font-size: 80px;
    font-weight: bold;
    color: $dark-color;
    text-align: center;
    margin-top: 50px;

    @include breakpoint(mobile) {
      font-size: 30px;
    }

    span {
      font-size: 20px;
      font-weight: 400;

      @include breakpoint(mobile) {
        font-size: 16px;
      }
    }
  }
}

.faqs {
  height: auto;
  padding-top: 100px;
  padding-bottom: 120px;
  background: $main-color;

  .title {
    color: white;
    font-size: 35px;
    font-weight: bold;
  }

  .subtitle {
    color: white;
    font-size: 20px;
    margin-bottom: 40px;

    @include breakpoint(mobile) {
      font-size: 18px;
    }
  }
}
