.hero {
  height: auto;
  background: $bg-color;
  padding-top: 100px;
  padding-bottom: 100px;

  @include breakpoint(mobile) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &-logo {
    width: 250px;
    margin-bottom: 40px;

    @include breakpoint(mobile) {
      width: 150px;
    }
  }

  &-title {
    color: white;
    font-size: 40px;
    font-weight: 700;

    @include breakpoint(mobile) {
      font-size: 26px;
    }
  }

  &-subtitle {
    color: rgba(white, 0.7);
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 40px;

    @include breakpoint(mobile) {
      font-size: 16px;
    }
  }

  .btn {
    @include breakpoint(mobile) {
      display: block;
      margin-bottom: 15px;
    }
  }
}

.ecosystem {
  height: auto;
  background: $bg-color-2;
  padding-top: 100px;
  padding-bottom: 100px;

  .title {
    color: $second-color;
    font-size: 20px;
  }

  .subtitle {
    color: white;
    font-size: 25px;
    padding-left: 150px;
    padding-right: 150px;
    margin-bottom: 40px;

    @include breakpoint(mobile) {
      padding-left: 10px;
      padding-right: 10px;
      font-size: 22px;
    }
  }

  &-icon {
    margin-top: 80px;
    width: 100px;
    margin-bottom: 20px;

    @include breakpoint(mobile) {
      margin-top: 40px;
    }
  }

  &-title {
    color: white;
  }
}

.launchpad {
  height: auto;
  background: $bg-color;
  padding-top: 100px;
  padding-bottom: 100px;

  .title {
    color: $second-color;
    font-size: 20px;
  }

  .subtitle {
    color: white;
    font-size: 25px;
    padding-left: 150px;
    padding-right: 150px;
    margin-bottom: 100px;

    @include breakpoint(mobile) {
      padding-left: 10px;
      padding-right: 10px;
      font-size: 22px;
      margin-bottom: 40px;
    }
  }

  &-desc {
    color: white;
    font-size: 22px;
    margin-bottom: 40px;

    @include breakpoint(mobile) {
      font-size: 20px;
    }
  }

  &-img {
    width: 200px;

    @include breakpoint(mobile) {
      margin-top: 70px;
    }
  }
}
