<extends src="master.html">
  <block name="content">
    <div class="hero">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1 class="hero-title">
              DECENTRALIZED IDO LAUNCHPAD FOR THE BINANCE SMART CHAIN
            </h1>
            <p class="hero-subtitle">
              Start your next project with us!
            </p>

            <a
              href="https://exchange.pancakeswap.finance/#/swap?outputCurrency=0x87eba250a34e7486eab140d89e2eb5d8d113ea2d"
              target="_blank"
              class="btn btn-outline-white"
              >Buy at PancakeSwap</a
            >

            <a
              href="https://github.com/TechRate/Smart-Contract-Audits/blob/main/ATFinance%20Full%20Smart%20Contract%20Security%20Audit.pdf"
              target="_blank"
              class="btn btn-outline-white"
              >Smart Contract Audit</a
            >

            <!-- <a href="#!" class="btn btn-outline-white">Apply for IDO</a> -->

            <div class="hero-social">
              <a href="https://twitter.com/ATFinance_" target="_blank">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-brand-twitter"
                  width="30"
                  height="36"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="white"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path
                    d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c-.002 -.249 1.51 -2.772 1.818 -4.013z"
                  ></path>
                </svg>
              </a>
              <a href="https://t.me/at_finance" target="_blank">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-brand-telegram"
                  width="36"
                  height="36"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="white"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M15 10l-4 4l6 6l4 -16l-18 7l4 2l2 6l3 -4"></path>
                </svg>
              </a>
              <a href="https://github.com/ATFinance" target="_blank">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-brand-github"
                  width="36"
                  height="36"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="white"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path
                    d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
                  ></path>
                </svg>
              </a>
              <a
                href="https://bscscan.com/token/0x87eba250a34e7486eab140d89e2eb5d8d113ea2d"
                target="_blank"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="30"
                  height="36"
                  viewBox="0 0 121.378 121.333"
                >
                  <g
                    id="bscscan-logo-light-circle"
                    transform="translate(-219.378 -213.334)"
                  >
                    <path
                      id="Path_1"
                      data-name="Path 1"
                      d="M244.6,271.1a5.144,5.144,0,0,1,5.168-5.143l8.568.028a5.151,5.151,0,0,1,5.151,5.151v32.4c.965-.286,2.2-.591,3.559-.911a4.292,4.292,0,0,0,3.309-4.177V258.261a5.152,5.152,0,0,1,5.151-5.152H284.1a5.152,5.152,0,0,1,5.151,5.152v37.3s2.15-.87,4.243-1.754a4.3,4.3,0,0,0,2.625-3.957V245.383a5.151,5.151,0,0,1,5.15-5.151h8.585A5.151,5.151,0,0,1,315,245.383V282c7.443-5.394,14.986-11.882,20.972-19.683a8.646,8.646,0,0,0,1.316-8.072,60.636,60.636,0,1,0-109.855,50.108,7.668,7.668,0,0,0,7.316,3.79c1.624-.143,3.646-.345,6.05-.627a4.29,4.29,0,0,0,3.805-4.258V271.1"
                      fill="#fff"
                    />
                    <path
                      id="Path_2"
                      data-name="Path 2"
                      d="M244.417,323.061A60.656,60.656,0,0,0,340.756,274c0-1.4-.065-2.778-.158-4.152-22.163,33.055-63.085,48.508-96.181,53.213"
                      fill="#f0b90b"
                    />
                  </g>
                </svg>
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="text-center">
              <img
                src="/img/hero-isometric.svg"
                alt="logo"
                class="hero-logo"
                draggable="false"
                data-aos="zoom-in"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="hero-divider">
        <svg
          data-name="Layer 1"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 1200 120"
          preserveAspectRatio="none"
        >
          <path
            d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
            class="shape-fill"
          ></path>
        </svg>
      </div>
    </div>

    <div class="ecosystem" id="ecosystem">
      <div class="container">
        <div class="text-center">
          <p class="title" data-aos="fade-up">Ecosystem</p>
          <p class="subtitle">Part of the $AT Ecosystem</p>

          <div class="row">
            <div class="col-md-3">
              <img
                src="/img/launchpad.svg"
                class="ecosystem-icon"
                alt="Launchpad"
                draggable="false"
              />
              <p class="ecosystem-title">Launchpad</p>
              <p class="ecosystem-subtitle">
                The IDO will give community members the chance to get in on the
                ground floor and claim a new token on the launchpad.
              </p>
            </div>
            <div class="col-md-3">
              <img
                src="/img/liquidity.svg"
                class="ecosystem-icon"
                alt="Liquidity Aggregator"
                draggable="false"
              />
              <p class="ecosystem-title">Liquidity Aggregator</p>
              <p class="ecosystem-subtitle">
                Traders use liquidity aggregators to find the best possible
                price across a variety of liquidity pools.
              </p>
            </div>
            <div class="col-md-3">
              <img
                src="/img/farming.svg"
                class="ecosystem-icon"
                alt="Farming/Staking"
                draggable="false"
              />
              <p class="ecosystem-title">Farming/Staking</p>
              <p class="ecosystem-subtitle">
                With each IDO launched on our platform, a new farming pool will
                be deployed based on the launched token.
              </p>
            </div>
            <div class="col-md-3">
              <img
                src="/img/nft.svg"
                class="ecosystem-icon"
                alt="NFT Marketplace"
                draggable="false"
              />
              <p class="ecosystem-title">NFT Marketplace</p>
              <p class="ecosystem-subtitle">
                Users can easily create as many collectibles as they wish, sell
                them, or decide not to sell on this network.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="launchpad" id="launchpad">
      <div class="container">
        <div class="text-center">
          <p class="title" data-aos="fade-up">AT Finance Launchpad</p>
          <p class="subtitle">
            Join the community. Be the first to decentralize the way you raise
            capital for your ideas.
          </p>
        </div>

        <!-- <div class="text-center">
          <a href="#!" class="btn btn-outline-white">Apply for IDO</a>
        </div> -->
      </div>
    </div>

    <div class="tokenomics" id="tokenomics">
      <div class="container">
        <div class="text-center">
          <p class="title" data-aos="fade-up">Tokenomics</p>
        </div>

        <p class="total-supply">100,000,000 <span>Total Supply</span></p>
        <p class="subtitle text-center">
          Token Network: <strong>Binance Smart Chain (BSC)</strong> <br />
          Token Type: <strong>BEP-20</strong>
        </p>

        <div class="row">
          <div class="col-md-6">
            <p class="token-distribution">Token Distribution</p>
            <div id="chart"></div>
          </div>
          <div class="col-md-6">
            <p class="token-distribution">40% Pre-Sale Token Distribution</p>
            <div id="chart2"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="protocol" id="protocol">
      <div class="container">
        <div class="text-center">
          <p class="title" data-aos="fade-up">Deflationary Token</p>
          <div class="subtitle">
            AT Finance has a unique burning mechanism automatically sent to burn
            address with every transaction. Burning tokens essentially eliminate
            them from the available stock, making them more expensive.
          </div>

          <div class="protocol-grid">
            <div class="card">
              <div class="card-body">
                <img
                  src="/img/burning-cycle.svg"
                  class="protocol-icon"
                  alt="Burning Cycle"
                  draggable="false"
                />
                <p class="card-title">Burning Cycle</p>
                <p class="card-desc">
                  When a token is excluded from the current pool of
                  cryptocurrencies in circulation, it is burned. Thus, $AT will
                  run for a total of 148 cycles.
                </p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <img
                  src="/img/burn-rate.svg"
                  class="protocol-icon"
                  alt="Burn Rate"
                  draggable="false"
                />
                <p class="card-title">Burn Rate</p>
                <p class="card-desc">
                  As people transact, the sum of tokens in your wallet will
                  continue to grow indefinitely. Therefore, the burn rate for AT
                  Finance is from 5% to 12%.
                </p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <img
                  src="/img/rebase.svg"
                  class="protocol-icon"
                  alt="Rebase"
                  draggable="false"
                />
                <p class="card-title">Rebase</p>
                <p class="card-desc">
                  This burn will cause a positive rebase when the total burned
                  tokens exceed the target threshold and distributing 50% of the
                  burnt supply to token holders.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="roadmap" id="roadmap">
      <div class="container">
        <div class="text-center">
          <p class="title" data-aos="fade-up">Roadmap</p>
          <p class="subtitle">$AT Roadmap</p>

          <div class="timeline">
            <ul class="events">
              <li class="event-list">
                <div class="event-date">Q2 2021</div>
                <div class="event-content">
                  <p>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon icon-tabler icon-tabler-check"
                      width="20"
                      height="20"
                      viewBox="0 0 24 24"
                      stroke-width="3"
                      stroke="#022caf"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M5 12l5 5l10 -10" />
                    </svg>
                    Farming & Staking Pools
                  </p>
                  <p>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon icon-tabler icon-tabler-check"
                      width="20"
                      height="20"
                      viewBox="0 0 24 24"
                      stroke-width="3"
                      stroke="#022caf"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M5 12l5 5l10 -10" />
                    </svg>
                    Initial Token Release
                  </p>
                </div>
              </li>
              <li class="event-list">
                <div class="event-date">Q3 2021</div>
                <div class="event-content">
                  <p>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon icon-tabler icon-tabler-check"
                      width="20"
                      height="20"
                      viewBox="0 0 24 24"
                      stroke-width="3"
                      stroke="#022caf"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M5 12l5 5l10 -10" />
                    </svg>
                    Initial Launchpad Release (ALPHA)
                  </p>
                  <p>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon icon-tabler icon-tabler-check"
                      width="20"
                      height="20"
                      viewBox="0 0 24 24"
                      stroke-width="3"
                      stroke="#022caf"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M5 12l5 5l10 -10" />
                    </svg>
                    Liquidity Aggregator Starting Development
                  </p>
                </div>
              </li>
              <li class="event-list">
                <div class="event-date">Q4 2021</div>
                <div class="event-content">
                  <p>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon icon-tabler icon-tabler-check"
                      width="20"
                      height="20"
                      viewBox="0 0 24 24"
                      stroke-width="3"
                      stroke="#022caf"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M5 12l5 5l10 -10" />
                    </svg>
                    Launchpad Release Stable v1
                  </p>
                  <p>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon icon-tabler icon-tabler-check"
                      width="20"
                      height="20"
                      viewBox="0 0 24 24"
                      stroke-width="3"
                      stroke="#022caf"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M5 12l5 5l10 -10" />
                    </svg>
                    Initial Liquidity Aggregator Release (ALPHA)
                  </p>
                  <p>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon icon-tabler icon-tabler-check"
                      width="20"
                      height="20"
                      viewBox="0 0 24 24"
                      stroke-width="3"
                      stroke="#022caf"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M5 12l5 5l10 -10" />
                    </svg>
                    NFT Marketplace Starting Development
                  </p>
                </div>
              </li>
              <li class="event-list">
                <div class="event-date">Q1 2022</div>
                <div class="event-content">
                  <p>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon icon-tabler icon-tabler-check"
                      width="20"
                      height="20"
                      viewBox="0 0 24 24"
                      stroke-width="3"
                      stroke="#022caf"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M5 12l5 5l10 -10" />
                    </svg>
                    Initial NFT Marketplace Release (ALPHA)
                  </p>
                  <p>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon icon-tabler icon-tabler-check"
                      width="20"
                      height="20"
                      viewBox="0 0 24 24"
                      stroke-width="3"
                      stroke="#022caf"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M5 12l5 5l10 -10" />
                    </svg>
                    Liquidity Aggregator Release Stable v1
                  </p>
                  <p>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon icon-tabler icon-tabler-check"
                      width="20"
                      height="20"
                      viewBox="0 0 24 24"
                      stroke-width="3"
                      stroke="#022caf"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M5 12l5 5l10 -10" />
                    </svg>
                    NFT Marketplace Release Stable V1
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="roadmap" id="team" style="padding-top: 0px;">
      <div class="container">
        <div class="text-center">
          <p class="title" data-aos="fade-up">Our Team</p>
          <div class="subtitle">
            $AT Team
          </div>
          <div class="protocol-grid">
            <div class="card">
              <div class="card-body">
                <img
                  src="/img/at-team-2.svg"
                  class="protocol-icon"
                  alt="team"
                  draggable="false"
                />
                <p class="card-title">Mad Syukri</p>
                <p class="card-desc">Lead Developer</p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <img
                  src="/img/at-team-7.svg"
                  class="protocol-icon"
                  alt="team"
                  draggable="false"
                />
                <p class="card-title">Antonio Moratti</p>
                <p class="card-desc">Community Manager</p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <img
                  src="/img/at-team-5.svg"
                  class="protocol-icon"
                  alt="team"
                  draggable="false"
                />
                <p class="card-title">HarryS.</p>
                <p class="card-desc">Solidity Programmer</p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <img
                  src="/img/at-team-6.svg"
                  class="protocol-icon"
                  alt="team"
                  draggable="false"
                />
                <p class="card-title">Chou Min Zhou</p>
                <p class="card-desc">Solidity Programmer</p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <img
                  src="/img/at-team-4.svg"
                  class="protocol-icon"
                  alt="team"
                  draggable="false"
                />
                <p class="card-title">MarkosX</p>
                <p class="card-desc">Backend Developer</p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <img
                  src="/img/at-team-8.svg"
                  class="protocol-icon"
                  alt="team"
                  draggable="false"
                />
                <p class="card-title">Carl John</p>
                <p class="card-desc">Backend Developer</p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <img
                  src="/img/at-team-3.svg"
                  class="protocol-icon"
                  alt="team"
                  draggable="false"
                />
                <p class="card-title">Brenda Hart</p>
                <p class="card-desc">Frontend Developer</p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <img
                  src="/img/at-team-1.svg"
                  class="protocol-icon"
                  alt="team"
                  draggable="false"
                />
                <p class="card-title">RUN3</p>
                <p class="card-desc">Frontend Developer</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="faqs" id="faqs">
      <div class="container">
        <div class="text-center">
          <p class="title" data-aos="fade-up">FAQs</p>
          <div class="subtitle">General Frequently Asked Questions</div>

          <div id="accordion">
            <div class="card">
              <div class="card-header" id="faqHeading-1">
                <div class="mb-0">
                  <h5
                    class="faq-title"
                    data-toggle="collapse"
                    data-target="#faqCollapse-1"
                    data-aria-expanded="true"
                    data-aria-controls="faqCollapse-1"
                  >
                    <span class="badge">1</span> What is AT Finance?
                  </h5>
                </div>
              </div>
              <div
                id="faqCollapse-1"
                class="collapse"
                aria-labelledby="faqHeading-1"
                data-parent="#accordion"
              >
                <div class="card-body">
                  <p>
                    AT Finance is a small ecosystem created by 6 DAPPs on the
                    Binance Smart Chain Network, which contains an NFT Marketplace,
                    a Liquidity Aggregator platform, a Farming & Staking platform,
                    a BSC Tokens Launchpad, and other two platform waiting to be
                    disclosed which is developed based in Indonesia and Singapore.
                  </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="faqHeading-2">
                <div class="mb-0">
                  <h5
                    class="faq-title"
                    data-toggle="collapse"
                    data-target="#faqCollapse-2"
                    data-aria-expanded="false"
                    data-aria-controls="faqCollapse-2"
                  >
                    <span class="badge">2</span> Where can I buy $AT?
                  </h5>
                </div>
              </div>
              <div
                id="faqCollapse-2"
                class="collapse"
                aria-labelledby="faqHeading-2"
                data-parent="#accordion"
              >
                <div class="card-body">
                  <p>
                    $AT can be bought at UniCrypt during Pre-Sale starting on
                    18th May 2021 and purchased afterward in
                    <a
                      href="https://exchange.pancakeswap.finance/#/swap?outputCurrency=0x87eba250a34e7486eab140d89e2eb5d8d113ea2d"
                      target="_blank"
                      >PancakeSwap</a
                    >.
                  </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="faqHeading-3">
                <div class="mb-0">
                  <h5
                    class="faq-title"
                    data-toggle="collapse"
                    data-target="#faqCollapse-3"
                    data-aria-expanded="false"
                    data-aria-controls="faqCollapse-3"
                  >
                    <span class="badge">3</span> What is $AT total token supply,
                    and will it be stable?
                  </h5>
                </div>
              </div>
              <div
                id="faqCollapse-3"
                class="collapse"
                aria-labelledby="faqHeading-3"
                data-parent="#accordion"
              >
                <div class="card-body">
                  <p>
                    $AT max token supply will be 100,000,000. Due to that token
                    supply, it will be deflationary.
                  </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="faqHeading-4">
                <div class="mb-0">
                  <h5
                    class="faq-title"
                    data-toggle="collapse"
                    data-target="#faqCollapse-4"
                    data-aria-expanded="false"
                    data-aria-controls="faqCollapse-4"
                  >
                    <span class="badge">4</span> What is the slippage tolerance
                    need to buy $AT?
                  </h5>
                </div>
              </div>
              <div
                id="faqCollapse-4"
                class="collapse"
                aria-labelledby="faqHeading-4"
                data-parent="#accordion"
              >
                <div class="card-body">
                  <p>
                    The slippage is between 5% to 15%.
                  </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="faqHeading-5">
                <div class="mb-0">
                  <h5
                    class="faq-title"
                    data-toggle="collapse"
                    data-target="#faqCollapse-5"
                    data-aria-expanded="false"
                    data-aria-controls="faqCollapse-5"
                  >
                    <span class="badge">5</span> How many burning cycles will it
                    be in AT Finance, and what is the burn rate of AT Finance
                    that impacts rebase positively?
                  </h5>
                </div>
              </div>
              <div
                id="faqCollapse-5"
                class="collapse"
                aria-labelledby="faqHeading-5"
                data-parent="#accordion"
              >
                <div class="card-body">
                  <p>
                    There will be a total of 148 burning cycles in the
                    circulation of 5% to 12% burning rate, and this burn rate
                    will impact a positive rebase when the total burned tokens
                    exceed the target threshold and distributing 50% of the
                    burnt supply to token holders.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="container">
        <div class="footer-top">
          <div>
            <p class="footer-title">Contact</p>
            <a class="footer-link" href="mailto:support@at.finance">Support</a>
            <a class="footer-link" href="mailto:pr@at.finance"
              >Public Relation</a
            >
            <a class="footer-link" href="mailto:marketing@at.finance"
              >Marketing</a
            >
          </div>
          <div>
            <p class="footer-title">Ecosystem</p>
            <a class="footer-link" href="#!"
              >Launchpad <span class="badge badge-warning">Coming Soon</span></a
            >
            <a class="footer-link" href="#!"
              >Liquidity Aggregator
              <span class="badge badge-warning">Coming Soon</span></a
            >
            <a class="footer-link" href="#!"
              >Farming/Staking
              <span class="badge badge-warning">Coming Soon</span></a
            >
            <a class="footer-link" href="#!"
              >NFT Marketplace
              <span class="badge badge-warning">Coming Soon</span></a
            >
          </div>
        </div>
        <div class="footer-bottom">
          <img src="/img/logo-white.svg" class="footer-logo" />
          <div class="footer-link-social">
            <a href="https://twitter.com/ATFinance_" target="_blank">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-brand-twitter"
                width="30"
                height="36"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="white"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c-.002 -.249 1.51 -2.772 1.818 -4.013z"
                ></path>
              </svg>
            </a>
            <a href="https://t.me/at_finance" target="_blank">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-brand-telegram"
                width="36"
                height="36"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="white"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M15 10l-4 4l6 6l4 -16l-18 7l4 2l2 6l3 -4"></path>
              </svg>
            </a>
            <!-- <a href="#" target="_blank">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-brand-discord"
                width="36"
                height="36"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="white"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <circle cx="9" cy="12" r="1"></circle>
                <circle cx="15" cy="12" r="1"></circle>
                <path d="M7.5 7.5c3.5 -1 5.5 -1 9 0"></path>
                <path d="M7 16.5c3.5 1 6.5 1 10 0"></path>
                <path
                  d="M15.5 17c0 1 1.5 3 2 3c1.5 0 2.833 -1.667 3.5 -3c.667 -1.667 .5 -5.833 -1.5 -11.5c-1.457 -1.015 -3 -1.34 -4.5 -1.5l-1 2.5"
                ></path>
                <path
                  d="M8.5 17c0 1 -1.356 3 -1.832 3c-1.429 0 -2.698 -1.667 -3.333 -3c-.635 -1.667 -.476 -5.833 1.428 -11.5c1.388 -1.015 2.782 -1.34 4.237 -1.5l1 2.5"
                ></path>
              </svg>
            </a>
            <a href="" target="_blank">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-brand-medium"
                width="36"
                height="36"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="white"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <rect x="4" y="4" width="16" height="16" rx="2"></rect>
                <path d="M8 9h1l3 3l3 -3h1"></path>
                <line x1="8" y1="15" x2="10" y2="15"></line>
                <line x1="14" y1="15" x2="16" y2="15"></line>
                <line x1="9" y1="9" x2="9" y2="15"></line>
                <line x1="15" y1="9" x2="15" y2="15"></line>
              </svg>
            </a> -->
            <a href="https://github.com/ATFinance" target="_blank">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-brand-github"
                width="36"
                height="36"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="white"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
                ></path>
              </svg>
            </a>
            <a
              href="https://bscscan.com/token/0x87eba250a34e7486eab140d89e2eb5d8d113ea2d"
              target="_blank"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                height="36"
                viewBox="0 0 121.378 121.333"
              >
                <g
                  id="bscscan-logo-light-circle"
                  transform="translate(-219.378 -213.334)"
                >
                  <path
                    id="Path_1"
                    data-name="Path 1"
                    d="M244.6,271.1a5.144,5.144,0,0,1,5.168-5.143l8.568.028a5.151,5.151,0,0,1,5.151,5.151v32.4c.965-.286,2.2-.591,3.559-.911a4.292,4.292,0,0,0,3.309-4.177V258.261a5.152,5.152,0,0,1,5.151-5.152H284.1a5.152,5.152,0,0,1,5.151,5.152v37.3s2.15-.87,4.243-1.754a4.3,4.3,0,0,0,2.625-3.957V245.383a5.151,5.151,0,0,1,5.15-5.151h8.585A5.151,5.151,0,0,1,315,245.383V282c7.443-5.394,14.986-11.882,20.972-19.683a8.646,8.646,0,0,0,1.316-8.072,60.636,60.636,0,1,0-109.855,50.108,7.668,7.668,0,0,0,7.316,3.79c1.624-.143,3.646-.345,6.05-.627a4.29,4.29,0,0,0,3.805-4.258V271.1"
                    fill="#fff"
                  />
                  <path
                    id="Path_2"
                    data-name="Path 2"
                    d="M244.417,323.061A60.656,60.656,0,0,0,340.756,274c0-1.4-.065-2.778-.158-4.152-22.163,33.055-63.085,48.508-96.181,53.213"
                    fill="#f0b90b"
                  />
                </g>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </block>
</extends>
