<extends src="master.html">
  <block name="content">
    <div class="hero">
      <div class="container">
        <div class="text-center">
          <img src="/img/at-logo.svg" alt="logo" class="hero-logo" />

          <h1 class="hero-title">
            AT.FINANCE DECENTRALIZED IDO PLATFORM FOR BINANCE SMART CHAIN
          </h1>
          <p class="hero-subtitle">
            AT Finance will bring opportunities to everyone
          </p>

          <a href="#" class="btn btn-main">Buy at Pancakeswap</a>
          <a href="#" class="btn btn-main">Apply for ido</a>
        </div>
      </div>
    </div>
  </block>
</extends>
