<extends src="master.html">
  <block name="content">
    <div class="hero">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1 class="hero-title">
              AT.FINANCE DECENTRALIZED IDO PLATFORM FOR BINANCE SMART CHAIN
            </h1>
            <p class="hero-subtitle">
              AT Finance will bring opportunities to everyone
            </p>

            <a href="#" class="btn btn-outline-white">Buy at Pancakeswap</a>
            <a href="#" class="btn btn-outline-white">Apply for ido</a>
          </div>
          <div class="col-md-6">
            <div class="text-center">
              <img src="/img/hero-isometric.svg" alt="logo" class="hero-logo" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ecosystem" id="#ecosystem">
      <div class="container">
        <div class="text-center">
          <p class="title">Ecosystem</p>
          <p class="subtitle">
            Join the community. Be the first to decentralize the way you raise
            capital for your ideas.
          </p>
          <a href="#" class="btn btn-main">Whitepaper</a>

          <div class="row">
            <div class="col-md-3">
              <img src="/img/at-logo.svg" class="ecosystem-icon" alt="logo" />
              <p class="ecosystem-title">Launchpad</p>
            </div>
            <div class="col-md-3">
              <img src="/img/at-logo.svg" class="ecosystem-icon" alt="logo" />
              <p class="ecosystem-title">Liquidity Aggregator</p>
            </div>
            <div class="col-md-3">
              <img src="/img/at-logo.svg" class="ecosystem-icon" alt="logo" />
              <p class="ecosystem-title">Farming/Staking</p>
            </div>
            <div class="col-md-3">
              <img src="/img/at-logo.svg" class="ecosystem-icon" alt="logo" />
              <p class="ecosystem-title">NFT Marketing</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="launchpad" id="launchpad">
      <div class="container">
        <div class="text-center">
          <p class="title">Launchpad</p>
          <p class="subtitle">AT FINANCE Launchpad</p>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="text-center">
              <p class="launchpad-desc">
                Join the community. Be the first to decentralize the way you
                raise capital for your ideas.
              </p>
              <a href="#" class="btn btn-main">Apply for Ido</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="text-center">
              <img
                src="/img/at-logo.svg"
                alt="logo"
                class="img-fluid launchpad-img"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </block>
</extends>
