.countdown {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 40px;

    h3 {
        color: white;
        font-size: 24px;
    }
}

.day,
.hour,
.minute,
.second {
    font-size: 3rem;
}
