.timeline {
  margin-top: 40px;

  .events {
    border-top: 3px solid #e9ecef;
    margin: 0;
    padding: 0;

    @include breakpoint(mobile) {
      border-top: 0;
    }

    .event-list {
      display: block;
      position: relative;
      text-align: center;
      padding-top: 70px;

      &:before {
        content: "";
        position: absolute;
        height: 36px;
        border-right: 2px dashed #dee2e6;
        top: 0;
      }

      .event-date {
        position: absolute;
        top: 38px;
        left: 0;
        right: 0;
        width: 75px;
        margin: 0 auto;
        border-radius: 4px;
        padding: 2px 4px;
        color: white;
        background: $main-color;
      }

      svg {
        margin-right: 6px;
      }
    }

    .event-content {
      padding-top: 20px;
    }
  }
}

@media (min-width: 1140px) {
  .timeline {
    margin-top: 80px;

    .events {
      display: flex;
      justify-content: center;

      .event-list {
        display: inline-block;
        width: 24%;
        padding-top: 45px;

        .event-date {
          top: -12px;
        }
      }

      .event-content {
        padding-top: 10px;
      }
    }
  }
}
