.navbar {
    .navbar-toggler {
        border: none;
        background: transparent !important;

        @include breakpoint(tabletmobile) {
            padding: 20px;
            padding-left: 15px;
            margin-left: -15px;
        }

        i {
            color: $main-color;
            font-size: 18px;
        }

        &:focus {
            outline: none;
            background: transparent !important;
        }

        .icon-bar {
            background-color: $main-color;
            transform: rotate(0deg) translate(0px, 0px);
            transition: ease all 0.2s;
            display: block;
            width: 22px;
            height: 2px;
            border-radius: 1px;

            + .icon-bar {
                margin-top: 4px;
            }
        }

        &:hover > .icon-bar:nth-child(2),
        &:active > .icon-bar:nth-child(2) {
            width: 22px;
            transition: ease all 0.2s;
        }

        &:not(.collapsed) .icon-bar {
            &:nth-child(1) {
                transform: rotate(45deg) translate(5px, 4px);
                transition: ease all 0.2s;
            }

            &:nth-child(2) {
                opacity: 0;
                transition: ease all 0.2s;
            }

            &:nth-child(3) {
                transform: rotate(-45deg) translate(4px, -4px);
                transition: ease all 0.2s;
            }
        }
    }
}

.navbar-landing {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: $main-color;
    opacity: 1;
    background-image: radial-gradient(#6780cf 1px, #022caf 1px);
    background-size: 20px 20px;

    .navbar {
        &-logo {
            width: 150px;
        }
    }

    .navbar-toggler {
        .icon-bar {
            background-color: white;
        }
    }

    .nav-item {
        .nav-link {
            color: white;
            padding: 10px 25px;

            &:hover {
                color: white;
            }
        }
    }
}
