<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>AT Finance</title>
    <meta
      name="description"
      content="Decentralized IDO Platform for Binance Smart Chain"
    />

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="AT Finance" />
    <meta
      itemprop="description"
      content="Decentralized IDO Platform for Binance Smart Chain"
    />
    <meta itemprop="image" content="/img/banner.png" />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://at.finance" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="AT Finance" />
    <meta
      property="og:description"
      content="Decentralized IDO Platform for Binance Smart Chain"
    />
    <meta property="og:image" content="/img/banner.png" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="AT Finance" />
    <meta
      name="twitter:description"
      content="Decentralized IDO Platform for Binance Smart Chain"
    />
    <meta name="twitter:image" content="/img/banner.png" />

    <link
      rel="apple-touch-icon-precomposed"
      sizes="57x57"
      href="/img/favicon/apple-touch-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="/img/favicon/apple-touch-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="/img/favicon/apple-touch-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="/img/favicon/apple-touch-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="60x60"
      href="/img/favicon/apple-touch-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="120x120"
      href="/img/favicon/apple-touch-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="76x76"
      href="/img/favicon/apple-touch-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="152x152"
      href="/img/favicon/apple-touch-icon-152x152.png"
    />
    <link
      rel="icon"
      type="image/png"
      href="/img/favicon/favicon-196x196.png"
      sizes="196x196"
    />
    <link
      rel="icon"
      type="image/png"
      href="/img/favicon/favicon-96x96.png"
      sizes="96x96"
    />
    <link
      rel="icon"
      type="image/png"
      href="/img/favicon/favicon-32x32.png"
      sizes="32x32"
    />
    <link
      rel="icon"
      type="image/png"
      href="/img/favicon/favicon-16x16.png"
      sizes="16x16"
    />
    <link
      rel="icon"
      type="image/png"
      href="/img/favicon/favicon-128.png"
      sizes="128x128"
    />
    <meta name="application-name" content="&nbsp;" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta
      name="msapplication-TileImage"
      content="/img/favicon/mstile-144x144.png"
    />
    <meta
      name="msapplication-square70x70logo"
      content="/img/favicon/mstile-70x70.png"
    />
    <meta
      name="msapplication-square150x150logo"
      content="/img/favicon/mstile-150x150.png"
    />
    <meta
      name="msapplication-wide310x150logo"
      content="/img/favicon/mstile-310x150.png"
    />
    <meta
      name="msapplication-square310x310logo"
      content="/img/favicon/mstile-310x310.png"
    />
  </head>

  <body>
    <marquee
      behavior="alternate"
      class="header"
      direction="left"
      scrolldelay="5"
      scrollspeed="true"
      scrollamount="2"
      loop="-1"
    >
      <p>
        Latest News! - AT Finance live at <a
          target="_blank"
          href="https://exchange.pancakeswap.finance/#/swap?outputCurrency=0x87eba250a34e7486eab140d89e2eb5d8d113ea2d"
          >PancakeSwap</a
        >
      </p>
    </marquee>
    <include src="navbar.html"></include>

    <block name="content"></block>
  </body>
</html>
